<div class="container">
  <div class="card mb-5 shadow mb-5 bg-white rounded">
    <div class="card-header italic">
      <p>Author: <%= @article.user.username %> </p>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <strong>Title:</strong>
        <%= simple_format(@article.title) %>
      </h5>
      <p class="card-text">    
        <strong>Description:</strong>
        <%= simple_format(@article.description) %>
      </p>
    </div>
    <div class="card-footer text-muted">
      <p>Created <%= time_ago_in_words(@article.created_at) %> ago</p>
      <p>Updated <%= time_ago_in_words(@article.updated_at) %> ago</p>
    </div>
  </div>

  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-primary" %>
  <%= link_to 'Back', articles_path, class: "btn btn-outline-primary" %>
  <%= link_to 'Destroy', articles_path, class: "btn btn-outline-primary", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
